.item {
    display: flex;
    padding: 8px;
    border-bottom: 1px solid black;
    text-align: left;
}

.item-text {
    padding: 8px;
    width: 80%;
    font-size: 1em;
}

.button-container {
    width: 20%;
}

.remove-button {
    font-size: 1em;
    padding: 8px;
    float: right;
}