input {
    padding: 8px;
    font-size: 1.2em;
    border: 1px solid;
}

.add-button {
    font-size: 1.2em;
    padding: 8px;
    border: 1px solid;
}

#add-form {
    padding: 16px;
    border-bottom: 1px solid black;
}
